header {
    height: 80px;
    width: 100%;

    background-color: #000000;
    color: #ffffff;
}

nav{
    text-align: center;
    line-height: 80px;
}

nav a{
    font-size: 20px;
    padding: 30px 20px 30px 20px;
}

nav a:hover{
background-color: #fff45c;
    color: #000000;
}

#logo{
    height: 80px;
    width: 150px;

    line-height: 80px;
    font-family: Gill Sans;
    font-size: 20px;

}

img {
    height: 80px;
    width: 100px;

    float: left;
}